* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.body {
    height: 50vw;
}

input {
    display: none;
}

#nav-open {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img11 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: -10vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input1:checked ~ #nav-img11 {
    z-index: 102;
    opacity: 1;
}

.img11 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input1:checked ~ #nav-open {
    z-index: 100;
    opacity: .8;
}

#nav-close {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 47vw;
    width: 70vw;
    height: 39.4vw;

}



#nav-open2 {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img12 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: 40vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input2:checked ~ #nav-img12 {
    z-index: 102;
    opacity: 1;
}

.img12 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input2:checked ~ #nav-open2 {
    z-index: 100;
    opacity: .8;
}

#nav-close2 {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 92vw;
    width: 70vw;
    height: 39.4vw;

}



#nav-open3 {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img13 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: 102vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input3:checked ~ #nav-img13 {
    z-index: 102;
    opacity: 1;
}

.img13 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input3:checked ~ #nav-open3 {
    z-index: 100;
    opacity: .8;
}

#nav-close3 {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 155vw;
    width: 70vw;
    height: 39.4vw;

}



#nav-open4 {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img14 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: 146vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input4:checked ~ #nav-img14 {
    z-index: 102;
    opacity: 1;
}

.img14 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input4:checked ~ #nav-open4 {
    z-index: 100;
    opacity: .8;
}

#nav-close4 {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 200vw;
    width: 70vw;
    height: 39.4vw;

}



#nav-open5 {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img15 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: 216vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input5:checked ~ #nav-img15 {
    z-index: 102;
    opacity: 1;
}

.img15 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input5:checked ~ #nav-open5 {
    z-index: 100;
    opacity: .8;
}

#nav-close5 {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 273vw;
    width: 70vw;
    height: 39.4vw;

}



#nav-open6 {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vw;
    background:black;
    opacity: 0;

}

#nav-img16 {
    position: absolute;
    z-index: -102;
    left: 0vw;
    top: 266vw;
    width: 70vw;
    height: 39.4vw;
    opacity: 0;
}

#nav-input6:checked ~ #nav-img16 {
    z-index: 102;
    opacity: 1;
}

.img16 {
    position: absolute;
    z-index: 102;
    left: 0vw;
    top: 46vw;
    width: 100vw;
    opacity: 1;
}

#nav-input6:checked ~ #nav-open6 {
    z-index: 100;
    opacity: .8;
}

#nav-close6 {
    position: absolute;
    z-index: 100;
    left: 24vw;
    top: 318vw;
    width: 70vw;
    height: 39.4vw;

}

.BG {
    position: fixed;
    overflow-x: hidden;
    top:5vw;
}

.rotate {
    transform: rotate(odeg);
    height: 200vw;
    top: -40vw;
}

.square1  {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 50vw;
    left: 20vw;
    top: -31vw;
    background: black;
    animation: s1Move 1800s forwards;
}

.square4  {
    position: absolute;
    z-index: -1;
    width: 75vw;
    height: 540vw;
    left: -60vw;
    top:-25vw ;
    background: black;

}

.square3  {
    position: absolute;
    z-index: -1;
    width:100vw;
    height: 392vw;
    top: 22vw;
    left: 20vw;
    background: black;
    animation: s3Move 1800s forwards;
}

.square5  {
    position: absolute;
    z-index: -1;
    width:100vw;
    height: 94vw;
    top: 418vw;
    left: 20vw;
    background: black;
    animation: s3Move 1800s forwards;
}

.square2 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 500vw;
    left: -250vw;
    top:-25vw ;
    background: black;
    /animation: s2Move 1800s forwards;
}

.square6 {
    position: absolute;
    z-index: -1;
    width: 200vw;
    height: 100vw;
    left: -250vw;
    top: 485vw;
    background: black;
}

.title {
    z-index: 11;
    height: 10vw;
    width: 300vw;
    top: 30.5vw;
    left: 32.5vw;
}

.Title {
    position: absolute;
    z-index: 11;
    color: black;
    font-size: 9vw;
    font-weight: 400;
    left:-9vw;
    top: 306.5vw;
    transform: rotate(-90deg);
}

iframe {
    position: absolute;
    z-index: 10;
    left: 25vw;
    top: 30.5vw;
}

.caption {
    position: absolute;
    z-index: 11;
    width: 70vw;
    height: 70vw;
    left: 25vw;
    top: 27vw;
    background: black;
}

.Caption {
    color: white;
    font-size: 2.5vw;
}

.img61 {
    position: absolute;
    z-index: 12;
    left: 25vw;
    top: 47vw;
    width: 70vw;
    height: 39.4vw;
}

.img62 {
    position: absolute;
    z-index: 12;
    left: 25vw;
    top: 92vw;
    width: 70vw;
    height: 39.4vw;
}

.caption1 {
    position: absolute;
    z-index: 11;
    width: 70vw;
    height: 70vw;
    left: 25vw;
    top: 137vw;
    background: black;
    color: white;
    font-size: 2.5vw;
}

.img63 {
    position: absolute;
    z-index: 12;
    left: 25vw;
    top: 155vw;
    width: 70vw;
    height: 39.4vw;
}

.img64 {
    position: absolute;
    z-index: 12;
    left: 25vw;
    top: 200vw;
    width: 70vw;
    height: 39.4vw;
}

.caption2 {
    position: absolute;
    z-index: 12;
    width: 70vw;
    height: 70vw;
    left: 25vw;
    top: 245vw;
    background: black;
    color: white;
    font-size: 2.5vw;
}

.img65 {
    position: absolute;
    z-index: 13;
    left: 25vw;
    top: 273vw;
    width: 70vw;
    height: 39.4vw;
}

.img66 {
    position: absolute;
    z-index: 13;
    left: 25vw;
    top: 318vw;
    width: 70vw;
    height: 39.4vw;
}

.caption3 {
    position: absolute;
    z-index: 12;
    width: 70vw;
    height: 0vw;
    left: 25vw;
    top: 363vw;
    background: black;
    color: white;
    font-size: 2.5vw;
}

.was {
    position: absolute;
    z-index: 14;
    height: 5vw;
    width: 30vw;
    top: 413.5vw;
    left: 20vw;
    opacity: 0;
    background: red;
}


.now {
    position: absolute;
    z-index: 14;
    height: 5vw;
    width: 14vw;
    top: 413.5vw;
    left: 55vw;
    opacity: 0;
    background: red;
}

.will {
    position: absolute;
    z-index: 14;
    height: 5vw;
    width: 23vw;
    top: 413.5vw;
    left: 77vw;
    opacity: 0;
    background: red;
}

.f1 {
    z-index: -2;
    position: fixed;
    height: 100vw;
    width: 100vw;
    top: 6.2vw;
    left: 22vw;
    background: white;
}

.name {
    font-size: 4.5vw;
}

.f2 {
    z-index: -2;
    position: fixed;
    height: 30vw;
    width: 80vw;
    top: 105.5vw;
    left: 20vw;
    background: white;
}

.nav {
    text-align: center;
    font-size: 4.3vw;
}
